name: Serverless TMDB Data Lake

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install pandas requests tabulate pytest boto3
      
      - name: Run Unit Tests
        run: python test_transform_data.py

      - name: Run ETL Script
        env:
          TMDB_API_KEY: ${{secrets.TMDB_API_KEY}} 
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY}}
          AWS_BUCKET_NAME: ${{secrets.AWS_BUCKET_NAME}}
          AWS_DEFAULT_REGION: 'us-east-2'
        run: python etl.py

      - name: Commit and Push
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add LATEST_UPDATE.md
          git commit -m "Dashboard Update: $(date +'%Y-%m-%d')" || exit 0
          git push
